pre.shiki {
  color: #24292e;
  background-color: #fff;
}

.shiki-token {
  color: var(--shiki-light);
}

.dark pre.shiki {
  color: #adbac7;
  background-color: #22272e;
}

.dark .shiki-token {
  color: var(--shiki-dark);
}
